{% extends 'base.html' %}
{% block content %}

<h1>Запись о транзакции:</h1>
<div class="card">
    <div class="card-header">
    <h3>выбранная транзакция:</h3>
    </div>
    <div class="card-body">
        <a href="{% url 'transaction' one_transaction.id %}"></a>
        <p class="card-text"><strong>сумма: </strong>{{one_transaction.sum}}</p>
        <p class="card-text"><strong>категория: </strong>{{one_transaction.category}}</p>
        <p class="card-text"><strong>дата и время: </strong>{{one_transaction.time}}</p>
    </div>
</div>
<br/><br/>
<a href="{%url 'home'%}" class="btn btn-secondary">Назад</a>
<a href="{%url 'delete_transaction' one_transaction.id%}" class="btn btn-danger">Удалить</a>
{%endblock%}